
    <md-content layout="column" flex ng-controller="gridController">
      
      <md-card>
        <md-toolbar class="md-table-toolbar md-default " >
          <div class="md-toolbar-tools">
            <span>Data Path Interface</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="loadStuff()">
              <md-icon>refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        
        
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise" >
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="name"><span>portName </span></th>
                <th md-column md-order-by="type"><span>AliasName</span></th>
                <th md-column md-numeric md-order-by="calories.value" md-desc><span>portDesp</span></th>
                <th md-column md-numeric md-order-by="fat.value"><span>shutDown</span></th>
                <th md-column md-numeric md-order-by="carbs.value"><span>ipAddress</span></th>
                <th md-column md-numeric md-order-by="protein.value"><span>speed</span></th>
                <th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>mtu</span></th>
                
                
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" >
                <td md-cell>{{dessert.portName}}</td>
                
                <td md-cell>{{dessert.AliasName}}</td>
                <td md-cell>{{dessert.portDesp}}</td>
                <td md-cell>{{dessert.shutDown}}</td>
                <td md-cell>{{dessert.ipAddress}}</td>
                <td md-cell>{{dessert.speed}}</td>
                <td md-cell hide-gt-xs show-gt-md>{{dessert.mtu}}</td>
                
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
      

      <!-- sliderRight -->
         <div ng-controller="sliderRightCntrl" layout="column" style="height:500px;" ng-cloak>

          <section layout="row" flex>

            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

              <md-toolbar class="md-theme-light" >
                <h1 class="md-toolbar-tools">{{selectedItem.portName}} Settings</h1>
              </md-toolbar>
              <md-content   layout-padding>
                <form>

                  <md-input-container >
                    <label for="testInput">Port Name</label>
                    <input type="text" id="testInput"
                           ng-model="selectedItem.portName" md-autofocus>
                  </md-input-container>
                  <md-input-container>
                    <label for="testInput">Alias Name</label>
                    <input type="text" id="testInput"
                           ng-model="selectedItem.AliasName" md-autofocus>
                  </md-input-container>

                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>MTU</label>
                      <input ng-model="selectedItem.mtu">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm > 
                     <md-switch class="md-primary" name="special" ng-model="selectedItem.shutDown" required>
                      Shut Down 
                    </md-switch>      
                  </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Speed</label>
                      <input ng-model="selectedItem.speed">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Port desp</label>
                      <input ng-model="selectedItem.portDesp">
                    </md-input-container>
                  </div>
                  
                  <md-input-container>
                    <label for="testInput">IP Address</label>
                    <input type="text" id="testInput"
                           ng-model="selectedItem.ipAddress" md-autofocus>
                  </md-input-container>
                 
                 <md-button ng-click="cancelSlider()" class="md-primary">
                  Cancel
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                  Submit
                </md-button>

                </form>
              </md-content>
            </md-sidenav>
          </section>
        </div>
        <!-- sliderRight ends-->
    </md-content>
    

